@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f5f5f5;
  --background-start: #DFE1E5;
  --background-end: #DFE1E5;
}

@media (prefers-color-scheme: dark) {
  :root {
  --foreground: #222831;
  --background-start: #DFE1E5;
  --background-end: #DFE1E5;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}
